body {
    margin: 0;
    font-family: monospace;
}

.flex-column {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --base: #B0DAFF;
    --main:#F0f8ff;
    --accent: #70BCFF;
}

.logo {
    display: flex;
    background-color: var(--base);
    color: var(--main);
    font-size: 3rem;
    padding: 1rem;
}

main {
    display: flex;
}

nav {
    flex-grow: 1;
}

footer {
    margin-top: auto;
    padding: 2rem;
    background-color: var(--base);
    color: var(--main);
}

.project-view {
    flex-grow: 1;
}

.project-view-title {
    font-size: 2rem;
    font-weight: 900;
}

.form-container {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: auto;
}

.hidden {
    display: none;
}

.dummy-project:hover {
    background-color: var(--base);
}

.active {
    background-color: var(--accent);
}

.toDoDiv {
    background-color: var(--base);
    border: 2px solid var(--accent);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.project-view-header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.add-todo-button {
    background-color: var(--main);
    border: 2px solid var(--base);
    border-radius: 10px;
}

.add-todo-button:hover {
    background-color: var(--base);
    border: 2px solid var(--accent);
}

.project-todo-list {
    display: flex;
    flex-direction: column;
}

#todo-entry-form {
    display: flex;
    justify-content: space-evenly;
}

#todo-entry {
    width: 75%;
    margin-right: auto;
}

.toDo {
    border: 2px solid var(--accent);
    border-radius: 10px;
}

.remove-todo {
    border: 2px solid var(--accent);
    border-radius: 10px;
    margin: 0 10px 0 auto;
}